GCMC simulation of CH4 in zeolite
use gaspressure   		# use the partial pressure in GCMC moves (as opposed to chemical potential)
use orthonormal              
finish
temperature       273.0
acceptmolmoveupdate  200        # Period (in moves) at which the maximum move size is recalculated
acceptmolrotupdate  200         # Period (in moves) at which the maximum rotation angle is updated
steps             1000000        # Number of moves to perform in simulation
equilibration     50000        # Equilibration time before statistics are gathered (in moves)
print               1000        # Information is output every 'print' moves     
revconformat dlmonte             # REVCON file is in DL_POLY CONFIG format
stack              10000        # Size of blocks (in moves) for block averaging
maxmolrot           0.005       # Initial maximum rotation angle (degrees) 
move molecule 1 20              # Perform translation moves for 1 molecule type (ch4) 20% of the time
ch4
move gcinsertmol 1 60 0.5       # Perform insertion/removal moves for ch4 60% of the time, with a min. distance of 0.5 from atoms for inserts 
ch4 0.0001                     # Use a partial pressure of 0.0001 (katm) for ch4
start
