NPT simulation of Lennard-Jones
finish
yamldata 1000
seeds 12 34 56 78               # Seed RNG seeds explicitly to the default
nbrlist auto                    # Use a neighbour list to speed up energy calculations
maxnonbondnbrs 512              # Maximum number of neighbours in neighbour list
temperature     1.4283461511745 # Corresponds to T*=1.1876; T(in K) = T* / BOLTZMAN (see constants_module.f90)
pressure     0.0179123655568
steps          100000            # Number of moves to perform in simulation
equilibration    0              # Equilibration period: statistics are gathered after this period
print           1000            # Print statistics every 'print' moves
stack           1000            # Size of blocks for block averaging to obtain statistics
sample coord   10000            # How often to print configurations to ARCHIVE.000
revconformat dlmonte            # REVCON file is in DLMONTE CONFIG format
archiveformat dlpoly4           # ARCHIVE.000/HISTORY.000/TRAJECTORY.000 format
                                # In this case: HISTORY.000 in DLPOLY4 style
move atom 1 512                 # Move atoms with a weight of 100
LJ core
move volume cubic linear 1
start
